{
  "SA_KEY_FILE_PATH": "path/to/key-file.json",
  "FOLDER_ID": "yc_folder_id",
  "SOURCE_IMAGE_FAMILY": "ubuntu-1604-lts",
  "IMAGE_NAME": "reddit-base",
  "IMAGE_FAMILY": "reddit-base",
  "IMAGE_SIZE_GB": "5"
}
